body {
	background-color: black;
	text-align: center;
	margin-bottom: 50px;
}
h1 {
	text-align: center;
	color: #fcba03;
	font-size: 4em;
	font-family: sans-serif, Arial; 
}
.something {
	color: gray;
	text-align: left;
	font-size: 1em;
	margin-top: 50px;
	margin-right: 10px;
}
